/* @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Asap:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */

:root {
    font-family: "DM Sans", sans-serif;
}

body {
    /*remove default browser margin*/
    margin: 0;
    border: none;
}


.header {
    border-bottom: 1px solid #262626;
    background-color: #3dade5;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px 0px 10px;
    gap: 10px;
}